body {
  font-family: "DM Sans", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Oswald", sans-serif;
  margin: 0;
}
section {
  height: 500px;
  background-color: rgb(255, 255, 255);
  border: solid blueviolet 1px;
}

.hero-page-sec {
  background-color: rgb(253, 253, 253);
  height: 100vh;
  color: black;
  font-size: 18px;
}

h1 {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: rgb(110, 110, 110);
  height: 400px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 30px;
}

ul {
  margin: 30px;
  display: flex;
  font-size: 13px;
  width: 375px;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

.hero-text {
  margin: 225px;
  border-radius: 40px;
  height: 100px;
  text-align: center;
}

.show-small {
  display: none;
}

@media only screen and (max-width: 975px) {
  .hide-small {
    display: none;
  }

  .show-small {
    display: block;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: red;
    margin: 0;
  }
}

.gallery-wrapper {
  display: flex;
  height: 285px;
  justify-content: space-around;
}

.image-container {
  display: flex;
}

img {
  height: 280px;
  width: 280px;
}

.recent-products-title,
.recent-products-paragraph {
  position: relative;
  text-align: center;
}
